body {
	font: 70% Arial, Helvetica, sans-serif;
}

#login-area {
	background: url('../images/background_slice_large.png') repeat-x top left;
	width: 313px;
	min-height: 250px;
	border: 2px solid #e0e0e0;
	-webkit-border-radius:1.0em;
	margin:0 auto;
}

#form-errors {
	display:none;
	width: 80%;
	margin: 0 auto;
	background: #fcc;
	opacity: 0.8;
	border: 2px solid #f00;
}

#form-errors ul {
	list-style:none;
}

#window-handle {
	width: 100%;
	height: 55px;
	border: 0;
}

#window-handle .logo {
	background: url('../images/app_logo.png') no-repeat top left;
	width: 79px;
	height: 29px;
	display:block;
	position:absolute;
	top: 10px;
	left: 10px;
}

#window-handle .screentype {
	background: url('../images/title_alerts.png') no-repeat top left;
	width: 58px;
	height: 20px;
	display:block;
	position:absolute;
	top: 15px;
	left: 220px;
}

#close-button-container {
	position:absolute;
	top: 10px;
	right: 8px;
	z-index:1000;
}

.close-button {
	display:block;
	width: 18px;
	height: 18px;
	background: url('../images/icon_close-delete.png') no-repeat top left;
}

.close-button:hover {
	background: url('../images/icon_close-delete_hover.png') no-repeat top left;
}

.close-button span {
	display:none;
}

#welcome-message {
	font-size: 110%;
	font-weight:bold;
	width: 85%;
	margin: 0 auto;
}

#login-form {
	width: 95%;
	margin:0 auto;
}

input {
	border:1px solid #ddd;
	background:#fafafa;
	font:bold 0.95em arial, sans-serif;
	-webkit-border-radius:0.4em;
	width: 90%;
}

#rememberme {
	border:1px solid #ddd;
	background:#fafafa;
	font:bold 0.95em arial, sans-serif;
	-webkit-border-radius:0.4em;
	margin: auto 0;
}

input:hover, input:focus {
	border-color:#c5c5c5;
	background:#f6f6f6;
}

table {
	width: 270px;
	margin: 0 auto;
}

th {
	width: 100px;
	text-align:left;
}

td {
	text-align:left;
}

#login {
	margin: 0;
  padding: 0;
  border: 0;
	width: 50px;
	height: 20px;
	background: url('../images/btn_login.png') no-repeat;
	text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
}

#cancel {
	margin: 0;
  padding: 0;
  border: 0;
	width: 50px;
	height: 20px;
	background: url('../images/btn_cancel.png') no-repeat;
	text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
}

#create-account {
	background: url('../images/link_createaccount.png') no-repeat;
	display:block;
	width:118px;
	height:19px;
	margin: 0 auto;
}
