body {
	font: 70% Arial, Helvetica, sans-serif;
}

#footer {
	position:absolute;
	top: 365px;
}

#message-center {
	background: url('../images/background_slice_large.png') repeat-x top left;
	width: 635px;
	height: 349px;
	border: 2px solid #e0e0e0;
	-webkit-border-radius:1.0em;
	margin:0 auto;
}

#window-handle {
	width: 100%;
	height: 55px;
	border: 0;
}

#window-handle .logo {
	background: url('../images/app_logo.png') no-repeat top left;
	width: 79px;
	height: 29px;
	display:block;
	position:relative;
	top: 5px;
	left: 10px;
}

#window-handle .screentype {
	background: url('../images/title_alertscenter.png') no-repeat top left;
	width: 126px;
	height: 20px;
	display:block;
	position:absolute;
	top: 15px;
	left: 440px;
}

#outer-table-wrapper {
	width: 615px;
	margin:0 auto;
	border: 2px solid #000;
	background: #fff;
	padding-bottom: 20px;
	height: 250px;
	overflow-y:scroll;
}

#inner-table-wrapper {
	
}

#message-table {
	
}

#message-table thead tr {
	border-bottom: 1px solid #75726B;
	width: 100%;
	background-color:#5C5850;
	color:#fff;
}

#message-table thead th {
	color: #fff;
	height: 23px;
	padding:0;
	margin:0;
	border-left:1px solid #75726B;
}

#message-table thead th:first-child {
	border-left: 0;
}

#message-table tr:hover {
	cursor:pointer;
}

#message-table tbody tr.odd {
	text-align:center;
	border-bottom: 1px solid #EFEFEF;
}

#message-table tbody tr.even {
	text-align:center;
	background-color: #F3F3F2;
}

#message-table tbody tr td {
	text-align:center;
	font-size: 70%;
	height:30px;
}

.read {
	display:block;
	background: url('../images/icon_opened.png') no-repeat;
	text-indent: -1000em;
	width:25px;
	height:17px;
	margin: auto auto;
}

.unread {
	display:block;
	background: url('../images/icon_unopened.png') no-repeat;
	text-indent: -1000em;
	width:25px;
	height:17px;
	margin: auto auto;
}

.no-messages {
	position:relative;
	top: 100px;
	left: 210px;
	font-size: 200%;
}

#close-button-container {
	position:absolute;
	top: 10px;
	right: 10px;
}

.close-button {
	display:block;
	width: 18px;
	height: 18px;
	background: url('../images/icon_close-delete.png') no-repeat top left;
}

.close-button:hover {
	background: url('../images/icon_close-delete.png') no-repeat top left;
}

#min-button-container {
	position:absolute;
	top: 10px;
	right: 30px;
}

.min-button {
	display:block;
	width: 18px;
	height: 18px;
	background: url('../images/icon_minimize.png') no-repeat top left;
}

.min-button:hover {
	background: url('../images/icon_minimize.png') no-repeat top left;
}

.close-button span, .min-button span {
	display:none;
}

.delete {
	display:block;
	background: url('../images/icon_close-delete.png') no-repeat;
	text-indent: -1000em;
	width:17px;
	height:17px;
	margin: auto auto;
}
