body {
	font: 70% Arial, Helvetica, sans-serif;
}

#popup {
	background: url('../images/Thin-Bg-1.png') repeat-x top left;
	width: 350px;
	min-height: 150px;
	border: 2px solid #000;
	-webkit-border-radius:3.0em;
	margin:0 auto;
}

#window-handle {
	width: 100%;
	height: 55px;
	background: url('../images/Handle-Background-1.png') repeat-x top left;
	border: 0;
	-webkit-border-top-left-radius: 3.0em;
	-webkit-border-top-right-radius: 3.0em;
	-webkit-border-bottom-left-radius: 0em;
	-webkit-border-bottom-right-radius: 0em;
}

#window-handle .logo {
	background: url('../images/Serebra-Logo-1.png') no-repeat top left;
	width: 133px;
	height: 51px;
	display:block;
	position:relative;
	top: 5px;
	left: 10px;
}

#close-button-container {
	position:absolute;
	top: 10px;
	right: 8px;
}

.close-button {
	display:block;
	width: 18px;
	height: 18px;
	background: url('../icons/Close-Button-Off.png') no-repeat top left;
}

.close-button:hover {
	background: url('../icons/Close-Button-On.png') no-repeat top left;
}

.close-button span {
	display:none;
}

#message-area {
	width: 80%;
	margin: 0 auto;
	position:absolute;
	top: 55px;
}
